<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="ProcessPnt" value="D:\Integraciones\HistoryExport\ProcessPnt\ProcessPnt.exe"/>
  </appSettings>

  <connectionStrings>
    <add name="PointsHistory" connectionString="Server=MAD5509; Database=PointsHistory_MADPWEBI500; Integrated Security=true;"/>
  </connectionStrings>

  <system.web>
    <compilation targetFramework="4.0" />    
  </system.web>
  
</configuration>
